:root {
  /* Dark Gradient Colors */
  --color-dark-start: #1a1a1a;
  --color-dark-mid: #333333;
  --color-dark-end: #4d4d4d;

  /* Light Gradient Colors */
  --color-light-start: #e6e6e6;
  --color-light-mid: #cccccc;
  --color-light-end: #b3b3b3;

  /* Additional Colors */
  --color-purple: #7d3cff;
  --color-cyan: #00d4ff;
}

/* Dark mode alternative */
.dark {
  --color-dark-start: #7d3cff;
  --color-dark-mid: #4d4d4d;
  --color-dark-end: #00d4ff;
}

/* Dark mode colors */
.dark {
  --color-dark-start: #e6e6e6;
  --color-dark-mid: #cccccc;
  --color-dark-end: #b3b3b3;
}

.link-nav {
  @apply font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-blue-700;
}

.centeredFlex {
  @apply flex flex-col justify-center items-center;
}

.full {
  @apply w-full h-full;
}

.social-icon {
  font-size: 1.5rem; /* Adjust size as needed */
  color: #7c3aed; /* Violet color for light mode */
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.social-icon:hover {
  color: #a855f7; /* Slightly brighter violet on hover */
  transform: scale(1.2);
}

.dark .social-icon {
  color: #00ffea; /* Brighter neon cyan for dark mode */
  text-shadow: 0 0 8px #00ffea, 0 0 16px #00ffea, 0 0 24px #00ffea; /* Neon glow effect */
}

.dark .social-icon:hover {
  color: #00ff99; /* Even more vibrant neon on hover */
  transform: scale(1.2);
  text-shadow: 0 0 12px #00ff99, 0 0 24px #00ff99, 0 0 36px #00ff99; /* More intense glow on hover */
}
