@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.cursive {
  font-family: 'Cedarville Cursive', cursive;
}

/* Welcome text with dark mode support */
.Welcome-text {
  @apply bg-clip-text text-transparent bg-gradient-to-l from-blue-700 to-purple-900 dark:from-blue-300 dark:to-purple-400 py-4 px-6 font-black;
}

/* Welcome box with dark mode support */
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.dark .Welcome-box {
  /* Example dark mode styles for the Welcome box */
  background-color: rgba(0, 0, 0, 0.7); /* Adjust as needed */
}

/* Button primary with dark mode support */
.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.5) 100% /* Increased opacity for a darker gradient */
    ),
    rgba(113, 47, 255, 0.25); /* Increased opacity */
  box-shadow: inset 0 0 12px rgba(191, 151, 255, 0.5); /* Darker shadow */
}

.dark .button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.55) 100% /* Increased opacity for a darker gradient */
    ),
    rgba(255, 255, 255, 0.2); /* Increased opacity for a more pronounced color */
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.25); /* Adjusted shadow for dark mode */
}

.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

.dark .button-primary:hover {
  background: linear-gradient(
    180deg,
    rgba(60, 8, 126, 0) 0%,
    rgba(255, 255, 255, 0.24) 100% /* Inverted color on hover */
  );
  box-shadow: inset 0 0 12px #bf97ff70; /* Adjust shadow as needed */
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
